* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 800px;
	margin: 0 auto;
	position: relative;
}
.right {
	float: right;
}
#diffImg {
	width: 800px;
	margin: 0 auto;
}
#resultImg {
	width: 800px;
	margin: 0 auto;
}
.progress {
	display: none;
	position: fixed;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	top: 300px;
	z-index: 100;
}
.progressBg { 
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
	color: white;
}
.progressBg div{
	margin: 35% auto;
    text-align: center;
    font-size: 30px;
    margin-top: 350px;
}
#url:invalid {
	border-color: red;
}

.sec-footer {
	line-height: 34px;
}
.sec-footer:after {
	content: '';
	display: table;
	clear: both;
}
.sec-url {
	word-wrap:break-word;
}
.form-control {
	width: 70%;
	display: inline-block;
}
.btn {
	margin-right: 10px;
}
#immiTest {
	margin-bottom: 15px;
}